HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
# DATABASE_CLIENT=postgres
# DATABASE_URL=
# DATABASE_SSL=false
# DATABASE_SSL_REJECT_UNAUTHORIZED=true
STRAPI_BOOTSTRAP_PERMISSIONS=false
STRAPI_BOOTSTRAP_SEED=false
GITHUB_SHOWCASE_IMPORT_ON_BOOT=false
GITHUB_SHOWCASE_OWNER=octocat
GITHUB_TOKEN=
